

<div class="card">
  <div class="card-body">
      <a [routerLink]="['/albums/create']">
          <button type="button" class ="btn btn-outline-primary float-right">Create Album</button>
      </a>
  </div>
</div>


<div *ngIf="myName">
    <h1>{{myName}}'s Albums {{albums.length}}</h1>
  </div>

 <div *ngIf="!myName">
    <h1>All my Albums!</h1>
  </div>

<div class="row">
  <div class="row" *ngFor="let album of albums">
    
    <div class="col-sm-6">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{album.title}}</h5>
          <p class="card-text">
            <a href="/album/{{album.id}}/{{album.title}}">
              <img class="card-img-top" src="{{album.coverPhotoUrl}}" alt="{{album.title}}" style="border: 1px;">
            </a>
          </p>
          <a href="#" class="btn btn-primary">{{album.title}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

  


