
  <div class="card">
    <div class="card-body">
        <a [routerLink]="['/upload-photo', albumId, albumTitle]">
            <button type="button" class ="btn btn-outline-primary float-right">Upload Photo</button>
        </a>
    </div>
  </div>

  <h1>{{photos.length}} photos in {{albumTitle}} </h1>

  <div class="row">
    <div class="row" *ngFor="let photo of photos">

      <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{photo.createdBy}}</h5>
            <p class="card-text">
              <a [routerLink]="['/photo', photo.id, photo.photoUrl]">
                  <div *ngIf="!photo.photoUrl">    
                      <img class="card-img-top" src="{{defaultImageUrl}}" >
                  </div>
                  <div *ngIf="photo.photoUrl">    
                      <img class="card-img-top" src="{{photo.photoUrl}}" >
                  </div>
              </a>
            </p>

            <input type="button" #button (click)="makeCoverPhoto(button.name)" name="{{photo.photoUrl}}" class="btn btn-primary" value="Make Cover Photo">
            
            <br/>
            <br/>

            <input type="button" #profilePhoto (click)="makeProfilePhoto(profilePhoto.name)" name="{{photo.photoUrl}}" class="btn btn-primary" value="Make Profile Photo">

          </div>
        </div>
      </div>
    </div>
  </div>
    


